﻿@charset "UTF-8";
/* CSS Document */

/* reset
---------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }
a { outline: none; }

.clearBoth { clear:both; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* typography
-----------------*/
/* Default font settings. 
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
body { 
  font-size: 81.25%; /* 13px */
  font-family: "Arial Narrow",Arial,sans-serif;
}


/* Headings
-------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

h1 { font-size: 2em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 1.5em; margin-bottom: 0.75em; }
h3 { font-size: 1.3em; line-height: 1; margin-bottom: 0.5em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 0.5em; }
h5 { font-size: 1.1em; margin-bottom: 0.5em; }
h6 { font-size: 1.1em; }

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
  margin: 0;
}

/* Text elements
-------------------------------------------------------------- */

p         { margin: 0 0 1.5em; font-family: Arial, Helvetica, sans-serif; }
img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

img.centreImg { display:block; margin: 0 auto; }

a:focus, 
a:hover     { color: #e79219; }
a           { color: #408bab; text-decoration: underline; font-weight: bold; }

blockquote  { margin: 1.5em; color: #666; font-style: italic; }
strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }
.italicise  { font-style: italic; }

abbr, 
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre 				{ margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

.altFont    { font-family: Arial, Helvetica, sans-serif; }

/* Lists
-------------------------------------------------------------- */

li ul, 
li ol       { margin:0 1.5em; }
ul, ol      { margin: 0 1.5em 1.5em 1.5em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}


/* Tables
-------------------------------------------------------------- */

table       { margin-bottom: 1.4em; width: 98%;
}
table.narrowTable { width: 550px; }
table.inlineTable {width: 300px; }
th          { font-weight: bold; }
thead th, tbody th 		{ background: #e4e4e3; text-transform: uppercase; }
th,td,caption { padding: 4px 10px 4px 5px; }
td          { background: #f9f9f9; font-family: Arial, Helvetica, sans-serif; font-size: 0.92em; }
tr.even td  { background: #e8f6fc; }
tfoot       { font-style: italic; }
caption     { background: #eaf7ff; font-weight: bold; font-style: italic; }
.cnrCell    { text-align: center; }
.leftCell   { text-align: left; }
.rightCell  { text-align: right; }

.tableLegend { background: #f9f9f9; padding: 0.3em; border: 1px solid #ececec; margin: 5px 0 15px 0; }
.tableLegend dl { font-family: Arial, Helvetica, sans-serif; font-size: 92.5%; }
.tableLegend dt { width: 40px; margin-right: 10px; }

/* forms
---------------------*/
label       { font-weight: bold; font-size: 1.08em; }
fieldset    { padding:0.77em 0; margin: 0 0 1.5em 0; border: none; }
legend      { font-weight: bold; font-size:1.2em; background: }
label.inline { width: 255px; 
margin: 0.5em 0.5em 0.5em 0px; 
float:left; line-height: 2em; }
label.inline2 { width: 250px; margin-left:60px; float:left; line-height: 2em; }
.advisory   { min-width: 50px; float:left; margin: 0.5em 0 0.5em 0.5em; line-height: 2em; color: #999; }
.advisory.fileAdv { margin-left: 1.5em; }
.inlineContainer { width: 300px; float:left; margin: 0.5em; line-height: 2em; }
label.inline.linkFormat { margin: 0.4em 0.3em 0.5em 0; width: auto;  }
label.inline.linkFormat span { font-weight: normal; font-size: 13px; color: #000; font-family: MS Shell Dlg; }


/* block formatting 
--------------------------------------------------------------*/
fieldset div { clear:both; margin: 0 0 3px 0; padding: 2px; overflow: auto; width: 90%; }
fieldset div div { clear:none; }
fieldset div.noBG { background: transparent; }
fieldset div.formActions { margin-top: 10px; }
fieldset div.shaded { background: #f9f9f9; }

/* Form fields
-------------------------------------------------------------- */

input.text, input.title,
input.shortField, input.numberField,
textarea, select {
  margin:0.5em 0;
  border:1px solid #bbb;
  font-size: 1em;
  line-height: 1.5em;
  
}

input.text:focus, input.title:focus,
textarea:focus, select:focus {
  border:1px solid #999;
  background-color: #f3fafd;
}

input.text,
input.title   { width: 300px; padding:2px 5px; height: 1.5em; }
input.shortField {width: 85px; padding: 2px 5px; }
input.numberField { width: 40px; padding: 2px 5px; }
input.fileInput { width: 300px; padding: 2px 5px; line-height: 2.15em;  margin:0.5em 0; }
input.title   { font-size:1.5em; }
textarea      { width: 390px; height: 250px; padding:5px; overflow: auto;}
select        { width: 300px; }
select.shortSelect  {width: 100px; }

input.inline { float:left; }

fieldset div.cr { margin: 4px 0; }

fieldset div.floatBlock {
    width: 400px;
    float:left;
    margin: 10px 20px 0 0;
    background: #f9f9f9;
    padding: 5px;
}

fieldset div.cr label {
	text-align: left;
	width: 390px;
	float: none;
	clear:left;
	font-weight: normal;
	margin-left: 0;
	padding-left: 0;
	overflow: auto;
}

fieldset div.cr label label { clear: none; }
fieldset div.cr input { float: left; margin-right: 15px; margin-left: 0; }

fieldset div.cr .blockRadio input {
    display: block;
    float:none;
    margin: 15px auto 20px auto;
    text-align: center;
}

.radioList { margin: 0.5em 0 0.5em 0.5em; line-height: 2.15em; display: block; }

.radioList label { margin-right: 20px; }

.btnSameLine, .btn  {
    display:block;
    float:left;
    margin:0 20px 0 0;
    background-color:#f5f5f5;
    border:1px solid #8bafc1;
    line-height: 1.3em;
    font-family: "Arial Narrow Bold",Arial,sans-serif;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
} 

.btn.secondaryBtn {
    background-color:#e8f6fc;
    border-color: #dedede;
}

.btnSameLine:focus, .btn:focus, .btn:hover {
    background: #8bafc1;
    border-color: #e8f6fc;
    color: #fff;
}


#contentLogin .btn { 
    float: right;
    border-color: #f3fafd;
    background: #7396a8;
    color: #fff;
}

#contentLogin .btn:focus {
    background: #f3fafd;
    color: #777;
}

/* Success, notice and error boxes
-------------------------------------------------------------- */

.error,
.info, 
.success,
.warning    { padding: .5em .5em .5em 2em; margin-bottom: 1em; border: 2px solid #ddd; }

.error      { background: #FBE3E4 url('../images/cross.png') no-repeat 0.3em center; color: #8a1f11; border-color: #FBC2C4; }
.info       { background: #FFF6BF url('../images/information.png') no-repeat 0.3em center; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2 url('../images/tick.png') no-repeat 0.3em center; color: #264409; border-color: #C6D880; }
.warning    { background: #FEEFB3 url('../images/exclamation.png') no-repeat 0.3em center; color: #9F6000; border-color: #FCDC5F;  }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
.warning a  { color: #9F6000; }


/* Misc classes
-------------------------------------------------------------- */

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #7396a8; }
.highlight  { background:#fdfddc; }
.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }


/* structure
----------------------*/
html, form { height: 100%; }                              /* for sticky footer */

body {
    background: #f9f9f9;
    color: #777;
    height: 100%;                                   /* for sticky footer */
}

#wrapper {                                          /* for sticky footer */
    min-height: 100%;
    margin: 0 auto -25px;
    width: 100%;
}

#push { height: 25px; clear:both; }                 /* for sticky footer */


.hr {
height: 1px;
width: 100%;
margin: 5px auto;
border-bottom: 1px solid #87CAD5;
clear: both;
}

.hr hr {
	visibility: hidden;
	margin: 0;
	padding:0;
}

#footer {
    clear:both;
    height: 25px;
    line-height: 25px;
    background: #6b6b6b;
    color: #fff;
    padding: 0 20px;
    text-transform: uppercase;
    text-align: left;
    font-size: 0.77em;
    min-width: 960px;
}

#footer span {
    width: 550px;
    float:right;
    display: block;
}

#edit_header {
    min-width: 960px;
    height: 40px;
    border-bottom: 4px solid #cadede;
    background: #6b6b6b;
    clear: both;
    margin: 0;
    color: #fff;
    font-size: 1.08em;
}

#edit_header a,
#footer a            { color: #c0e0f1; }

#edit_header a:hover,
#footer a:hover      { color: #f1e7c0; }

#edit_header h1 {
    font-size: 1.85em;
    font-weight: bold;
    display: inline-block;
    line-height: 1.5em;
    margin-left: 20px;
}

#edit_header img.headerArrow {
    float:left;
    margin: 0 10px 0 20px;
}

#edit_header ul#userMenu {
    width: 550px;
    float:right;
    line-height: 1.38em;
    margin: 10px 20px 10px 0;
}

#userMenu li {
    display: block;
    float:right;
    border-right: 1px solid #fff;
    padding: 0 15px;
}

#userMenu li.last {
    border: 0;
    padding: 0 0 0 15px;
}

#HelpPanel {
    background: #cadede;
    margin: 0 0 15px 240px;
    padding: 10px;
    color: #555;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

#HelpPanel a {
    background: #e8f6fc;
    padding: 2px;
}

#edit_nav {
    width:210px;
    margin: 15px 10px 40px 20px;
    float:left;
    clear: both;
}

.edit_section {
    margin: 0 0 10px 0;
    background: #fff;
    padding: 0 0 3px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: bold;
    border: 1px solid #e4e4e3;
}

.edit_section h3 {
    margin: 0 0 3px 0;
    padding: 0 5px;
    font-size: 1.23em;
    line-height: 1.69em;
    text-align: left;
    border-bottom: 1px solid #dedede;
    background: #e4e4e3;
    color: #4f7f98;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-rightleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

.edit_section ul {
    list-style: none;
    margin: 0;
}

.edit_section li {
    margin:0 0 3px 0;
    padding: 0 5px;
    display: block;
    line-height: 1.54em;
    font-size: 1.08em;
}

.edit_section li a {
    text-decoration: none;
    display: block;
    background: #f0f0ed;
    line-height: 1.54em;
    padding: 0 5px;
    color: #666;
    border: 1px solid #dedede;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.edit_section li a:hover {
    background: #e8f6fc;
    color: #4f7f98;
}


#content {
    overflow:visible;
    margin: 15px 20px 40px 240px;
    min-width: 700px;
    position: relative;
}

#content.homeContent {
    min-width: 830px;
}

#content h2 {
    color: #fff;
    font-size: 1.85em;
    line-height: 40px;
    text-align: left;
    background: #7396a8;
    padding: 0 0.77em;
    margin: 0 0 5px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#content h3 {
    color: #fff;
    font-size: 1.38em;
    line-height: 30px;
    text-align: left;
    background: #8bafc1;
    padding: 0 0.77em;
    margin: 5px 0 0 0;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border--top-left-radius: 5px;
    -webkit-border--top-right-radius: 5px;
}

#contentLogin{
    width: 350px;
    min-height: 215px;
    margin: 50px auto;    
    background: #cadede;
    color: #555;
    padding: 5px;
    border: 1px solid #c0c0c0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: auto;
}

*html #contentLogin{
    height: 270px;
}

#contentLogin h2 {
    color: #fff;
    font-size: 1.85em;
    line-height: 40px;
    text-align: left;
    background: #7396a8;
    padding: 0 10px;
    margin: 0 0 5px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.minicontent {
    float: left;
    background: #FFFFFF;
    width: 48%;
    margin: 10px 3px 10px auto;
    padding: 0 5px 5px 5px;
    border: 1px solid #c0c0c0;
}

.Innercontent {
    float: left;
    background: #FFFFFF;
    width: 98%;
    margin: 5px 3px 10px auto;
    padding: 0 5px 5px 5px;
    border: 1px solid #c0c0c0;
}
.InnercontentTabs{
    float: left;
    background: #FFFFFF;
    width: 98%;
    margin: 5px 3px 10px auto;
}

#minicontent h2 {
    margin: 0 -5px 3px -5px;
    padding-left: 20px;
    font-size: 18px;
    height: 20px;
    text-align: left;
    background: #c0c0c0 url(../images/header_grad_bg.jpg) top left repeat-x;
    border-bottom: 1px solid #c0c0c0;
}

#actionArea, .actionArea
{
	padding: 10px;
	background: #fff;
	margin: 0;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;

}

.infoLink {
    width: 300px;
    float:right;
    margin: 0 0 10px 10px;
    text-align: right;
}



/* start button styling */

.buttons {
    width: 90%;
    overflow: auto;
}

.buttons a {
    display:block;
    float:left;
    margin:0 7px 5px 0;
    background-color:#e4e4e3;
    border:2px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 1.08em;
    line-height: 2em;
    text-decoration:none;
    font-weight:bold;
    color:#777;
    cursor:pointer;
    padding: 0 10px;
     /* Links */
}

.buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
button:hover, .buttons a:hover{
    background: #e8f6fc;
    border-color: #e4e4e3;
    color: #4f7f98;
}
.buttons a:active{
    background-color:#8bafc1;
    color:#fff;
}
.CancelButton{
    float:left;
    margin:5px 10px 0 15px;
    text-decoration: underline;
    line-height: 2em;
}

.CancelButton:before {
    content: "or ";
}
/* end button styling */


/* start popup box styling */
.modalBackground 
    {
        background-color:Gray;
        filter:alpha(opacity=60);
        opacity:0.60;   
    }    
    .updateProgress
    {
        border-width:1px; 
        border-style:solid; 
        background-color:#FFFFFF; 
        position:absolute; 
        width:220px; 
        height:50px;    
    }
    .chooseImages
    {
        border-width:1px; 
        border-style:solid; 
        background-color:#FFFFFF; 
        position:absolute; 
        padding: 7px; 
    }
    .modalPanalWithButtons
    {
        text-align:center;
        border-width:1px; 
        border-style:solid; 
        background-color:#FFFFFF; 
        position:absolute; 
        width:275px; 
        height:100px;    
    }
    .modalPanalWithButtons .buttons
    {
        margin:0 0 0 80px;    
    }
    .updateProgressMessage
    {
        margin:3px; 
        font-size:small; 
        vertical-align: middle;
    }
/* end popup box styling */


/* message containers */
/*
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 50px;
    line-height: 24px;
    overflow: auto;
    width: 95%;
}

#contentLogin .info, #contentLogin .success,
#contentLogin .warning, #contentLogin .error, #contentLogin .validation {
    width: 290px;
}

.info { background-image: url('../images/information.png'); }
.success { background-image:url('../images/tick.png'); }
.warning { background-image: url('../images/exclamation.png'); }
.error { background-image: url('../images/cross.png'); }

*/

img.CloseX  {
    float: right;
    margin: 0 0 0.3em 0.3em;
}
.container img {
    border: none;
}
.info p, .success p, .warning p, .error p, .validation p { 
    margin: 0;
}
.validation {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/cross.png');
}
.validation ul
{
	padding: 0px 30px;
}
/* end message containers */

/* start table styles */
/* table style */
table.gridview
{
	margin-bottom: 10px;
}

/* common cell styles */
.gridview th, .gridview td
{
	cursor:default;
	height:20px;
}

/* header cell style */
.gridview th
{
	border-right-style:solid;
	border-right-width:1px;
	border-bottom-style:solid;
	border-bottom-width:2px;
}  

/* cell styles */
.gridview td
{
	padding:2px 8px;
	border-right-style:solid;
	border-right-width:1px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	background: transparent;	
}

.gridview tr {
    background: #f9f9f9;
}

/* table style */
table.gridview-classic
{
	border:solid 1px #dedede;
}

/* header cell style */
.gridview-classic th
{
    height: 25px;
    border-bottom: 1px solid #c0c0c0;
}  

/* cell styles */
.gridview-classic td
{
    border-bottom-color:#dedede;	
    border-right-color:#dedede;	
}
/* end  table styles */

.UpdatingPanel{
    color: #4F8A10;
}

/* hover menu for gridview */
.device-actions-toggler {
	display: none;
	opacity: 0.5;
}

tr:hover .device-actions-toggler {
	opacity: 1;
}

.device-actions-list {
	text-align: left;
	background: #f0f0ed;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1);
	border: 1px solid #dedede;
	padding: 5px;
	z-index: 999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin-right: 28px;
	width: 100px;
}

.device-actions-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.device-actions-list li a {
    text-decoration: none;
    color: #777;
    font-size: 0.92em;
    font-weight: normal;
}

.device-actions-list li a:hover {
    text-decoration: underline;
    color: #408bab;
}
/* end hover menu for gridview */

/* used on image rollover preview */
#imgPreviewWithStyles {
    z-index: 99999;
    border: none;
}

/* dataTables required styles 
--------------------------------
-------------------------------*/

.dataTables_wrapper table {
    margin-bottom: 0;
    width: 98%;
}

.dataTables_wrapper table th.sorting {
    color: #408bab;
    text-decoration: underline;
    cursor: pointer;
}

.dataTable_header {
    width: 98%;
    overflow: auto;
    background: #d9d9d9;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    line-height: 35px;
    height: 35px;
    font-weight: bold;
}

.dataTable_footer {
    width: 98%;
    overflow: auto;
    background: #d9d9d9;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    line-height: 30px;
    height: 30px;
    font-weight: bold;
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_length {
	width: 40%;
	float: left;
	margin-left: 10px;
	vertical-align: middle;
}

.dataTables_length select {
    width: 75px;
}

.dataTables_filter {
	width: 40%;
	float: right;
	text-align: right;
	vertical-align: middle;
	margin-right: 10px;
}

.dataTables_info {
	width: 30%;
	float: left;
	margin-left: 10px;
}

.dataTables_paginate {
	width: 60%;
	float: right;
	text-align: right;
	margin-right: 10px;
}

.dataTables_paginate span {
    margin: 0 5px;
     cursor: pointer;
}
.paginate_button {
    margin-left: 5px;
    cursor : pointer;
}
.dataTables_paginate span.paginate_button {
    color: #408bab;
    text-decoration: underline;
    cursor: pointer;
}


/* offers layout */

.bannerArea { width: 200px; height: 200px; overflow: hidden;}
.new.bannerArea { width: 390px; height: 200px; margin: 0 auto; }
.dtg.bannerArea { width: 360px; min-height: 205px; height: auto; margin: 0 auto; }

.bannerArea img {
    margin: 2px auto 0 auto;
    border: none;
    outline: none;
}
.new.bannerArea img { margin: 0; float: left; } 
.new.bannerArea img:last-child { float: none; }
.dtg.bannerArea img {}

.bannerArea img.firstChild { margin-right: 6px; }
.bannerArea img.tall { float:right; }
.bannerArea img.tall.firstChild { float:left; }

.new.bannerArea img.gutter,
.dtg.bannerArea img.gutter { margin-right: 2px; }

.dtg.bannerArea img.float { float: left; }

.bannerArea img#activeOffer { border: 1px solid orange; }
.bannerArea img#completedOffer { border: 1px solid green; }

.currentLayout { float:right; width: 400px; }
.currentLayout .bannerArea { margin: 0 0 10px 10px; }
.currentLayout .new.bannerArea { width: 380px; }
.currentLayout .dtg.bannerArea { width: 370px; }
.currentLayout p { margin: 0 0 10px 10px; font-style: italic; }


/* uploadify container */

.uploadifyContainer { 
    margin: 10px 0 20px 0;
}

.uploadifyQueue {
    margin-top: 20px;
}


/* jquery ui tabs corrections */

.tabulation .ui-helper-clearfix { display: inline-block; width: 99%;}

#tabs-set-2 {
   margin: 10px;
width: 985px;
}
