@charset "utf-8";
/* CSS Document */
body {
width: 1000px;
margin-left:auto;
margin-right:auto;
background-color: #FFFFFF;
}
.btnSameLine  {
    display:block;
    float:left;
    margin:0 7px 0 10px;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px;
} 
.btn  {
	display:block;
    float:left;
    margin:10px 7px 0 10px;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px;
} 
hr
{
    margin: 3px 0 0 0;
    color: #dedede;
    background-color: #dedede;
    height: 3px;
}
a {
text-decoration: none;
font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
font-size: 12px;
font-weight: bold;
color: #566e96;
}

a:hover {
text-decoration: underline;
color: #002065;
}

#edit_header {
width: 968px;
height: 90px;
border: 1px solid #c0c0c0;
background: white url(../images/header_bg.gif) top left repeat;
clear: both;
margin-bottom: 5px;
margin-left: 5px;
font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
font-size: 12pt;
color: #566e96;
}

#edit_header h1 {
float: left;
margin-left: 40px;
margin-top: 26px;
color: #566e96;
}

#edit_header img.dr_logo {
margin-top: 18px;
float: right;
}

#edit_header h4 {
font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
font-size: 9pt;
color: #566e96;
position:absolute;
margin-top:5px;
margin-right: 0;
margin-left: 800px;
padding:0;
}

*html #edit_header h4 {
margin-left: 480px;
}

#edit_nav {
width:200px;
min-height: 580px;
border: 1px solid #c0c0c0;
background: white url(../images/panel_bg.gif) top left repeat;
margin-left: 5px;
margin-right: 5px;
margin-bottom: 5px;
padding-bottom: 30px;
font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
font-size: 12px;
color: #566e96;
float:left;
clear: left;
}

*html #edit_nav {
margin-left: 3px;
height: 580px;
}

#edit_nav h2 {
color: #566e96;
margin: 1px 6px 8px 8px;
font-size: 18px;
height: 25px;
text-align: center;
background: #c0c0c0 url(../images/header_grad_bg.jpg) top left repeat-x;
border: 1px solid #c0c0c0;
}

.edit_section {
margin: 1px 6px 9px 8px;
background: white;
padding: 0;
border: 1px solid #c0c0c0;
}

.edit_section h3 {
color: #566e96;
margin: 0;
padding:0;
padding-top: 2px;
padding-left: 20px;
font-size: 14px;
height: 20px;
text-align: left;
background: #c0c0c0 url(../images/header_grad_bg.jpg) top left repeat-x;
border-bottom: 1px solid #c0c0c0;

}

.edit_section ul {
list-style: none;
padding: 0;
margin: 8px 0 8px 25px;
}

.edit_section li a {
text-decoration: none;
font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
font-size: 12px;
font-weight: bold;
color: #566e96;
}

.edit_section li a:hover {
text-decoration: none;
color: #002065;
}

#content {
color: #566e96;
width: 751px;
overflow:visible;
min-height: 970px;
float:left;
margin-bottom: 5px;
font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
font-size: 12px;
background: white url(../images/arrow_bg.gif) no-repeat top left;
padding: 5px;
border: 1px solid #c0c0c0;
}

*html #content{
width: 747px;
height: 740px;
}

#contentLogin{
color: #566e96;
width: 350px;
min-height: 275px;
margin-left: 212px;
margin-bottom: 5px;
font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
font-size: 12px;
background: white url(../images/arrow_bg.gif) no-repeat top left;
padding: 5px;
border: 1px solid #c0c0c0;
}

*html #contentLogin{
width: 350px;
height: 270px;
}

#contentLogin h2 {
color: #566e96;
margin: 0 -5px 3px -5px;
padding-left: 20px;
font-size: 18px;
height: 25px;
text-align: left;
background: #c0c0c0 url(../images/header_grad_bg.jpg) top left repeat-x;
border-bottom: 1px solid #c0c0c0;

}

.minicontent {
float: left;
background: #FFFFFF;
width: 48%;
margin: 10px 3px 10px auto;
font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
font-size: 12px;
padding: 0 5px 5px 5px;
border: 1px solid #c0c0c0;
}

.Innercontent {
float: left;
background: #FFFFFF;
width: 98%;
margin: 5px 3px 10px auto;
font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
font-size: 12px;
padding: 0 5px 5px 5px;
border: 1px solid #c0c0c0;
}
.InnercontentTabs{
float: left;
background: #FFFFFF;
width: 98%;
margin: 5px 3px 10px auto;
font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
font-size: 12px;
}

#content h2 {
color: #566e96;
margin: 0 -5px 3px -5px;
padding-left: 20px;
font-size: 18px;
height: 25px;
text-align: left;
background: #c0c0c0 url(../images/header_grad_bg.jpg) top left repeat-x;
border-bottom: 1px solid #c0c0c0;

}

#minicontent h2 {
margin: 0 -5px 3px -5px;
padding-left: 20px;
font-size: 18px;
height: 20px;
text-align: left;
background: #c0c0c0 url(../images/header_grad_bg.jpg) top left repeat-x;
border-bottom: 1px solid #c0c0c0;
}

#footer {
color: #566e96;
width: 958px;
height: 30px;
margin-left: 5px;
background: white url(../images/panel_bg.gif) top left repeat;
font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
font-size: 10px;
padding: 5px;
border: 1px solid #c0c0c0;
clear:both;
text-align: center;
}
#inputArea
{
	font-family: "Trebuchet MS", Helvetica, Arial, Sans-Serif;
	font-size: 13px;
	/*background-color: #EBEBEB;*/
	padding: 10px;
	width:728px;
}
#inputArea input, #inputArea textarea
{
	font-family: "Trebuchet MS", Helvetica, Arial, Sans-Serif;
	font-size: 13px;
	margin-bottom: 5px;
	display: block;
	padding: 4px;
	width: 500px;
}
#inputArea .checkbox input
{
     width: 25px;
     display:inline;
     margin: 5px 10px 5px 0;
}
.SubLabelMessage
{
    color: #777777;
	font: 12px "Trebuchet MS", Helvetica, Arial, Sans-Serif;
}
.activeField
{
    background-image: none;
    background-color: #ffffff;
    border: solid 1px #33677F;
}
.idle
{
	border: solid 1px #c0c0c0;
	background-image: url( '../images/blue_bg.png' );
	background-repeat: repeat-x;
	background-position: top;
}

/* style for login screen*/
#inputAreaLogin
{
	font-family: "Trebuchet MS", Helvetica, Arial, Sans-Serif;
	font-size: 13px;
	padding: 10px;
	width:345px;
}
#inputAreaLogin input, #inputAreaLogin textarea
{
	font-family: "Trebuchet MS", Helvetica, Arial, Sans-Serif;
	font-size: 13px;
	margin-bottom: 5px;
	display: block;
	padding: 4px;
	width: 300px;
}

/* start popup box styling */
.modalBackground 
    {
        background-color:Gray;
        filter:alpha(opacity=60);
        opacity:0.60;   
    }    
    .updateProgress
    {
        border-width:1px; 
        border-style:solid; 
        background-color:#FFFFFF; 
        position:absolute; 
        width:220px; 
        height:50px;    
    }
    .chooseImages
    {
        border-width:1px; 
        border-style:solid; 
        background-color:#FFFFFF; 
        position:absolute; 
        padding: 7px; 
    }
    .modalPanalWithButtons
    {
        text-align:center;
        border-width:1px; 
        border-style:solid; 
        background-color:#FFFFFF; 
        position:absolute; 
        width:275px; 
        height:100px;    
    }
    .modalPanalWithButtons .buttons
    {
        margin:0 0 0 80px;    
    }
    .updateProgressMessage
    {
        margin:3px; 
        font-family:Trebuchet MS; 
        font-size:small; 
        vertical-align: middle;
    }
/* end popup box styling */

/* start button styling */

.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}
.CancelButton{
    clear: both;
    float:left;
    margin:5px 7px 0 10px;
    text-decoration: underline;
}
/* end button styling */

/* message containers */
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/information.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/tick.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/exclamation.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/cross.png');
}
.container
{
}
.info p, .success p, .warning p, .error p {
    padding: 0px 50px;
}
.info a, .success a, .warning a, .error a {
    float: right;
    padding: 10px;
    cursor:pointer;
}
.container img {
    border: none;
}

.validation {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/cross.png');
}
.validation ul
{
	padding: 0px 30px;
}
/* end message containers */

/* start table styles */
/* table style */
table.gridview
{
	font-family:"Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size:11px;
	width:750px;
	margin-bottom: 10px;
}

/* common cell styles */
.gridview th, .gridview td
{
	cursor:default;
	height:20px;
}

/* header cell style */
.gridview th
{
	border-right-style:solid;
	border-right-width:1px;
	border-bottom-style:solid;
	border-bottom-width:2px;
    font-weight:bold;
    text-align:center;    
}  

/* cell styles */
.gridview td
{
    color:#566e96;
	padding:2px 8px;
	border-right-style:solid;
	border-right-width:1px;
	border-bottom-style:solid;
	border-bottom-width:1px;	
}

/* table style */
table.gridview-classic
{
	font-family:"Trebuchet MS", Helvetica, Arial, sans-serif;
	border:solid 1px #dedede;
}

/* header cell style */
.gridview-classic th
{
	color:#566e96;
    height: 25px;
    background: #c0c0c0 url(../images/header_grad_bg.jpg) top left repeat-x;
    border-bottom: 1px solid #c0c0c0;
}  

/* cell styles */
.gridview-classic td
{
    border-bottom-color:#dedede;	
    border-right-color:#dedede;	
}
/* end  table styles */

.UpdatingPanel{
    color: #4F8A10;
}

/* hover menu for gridview */
.device-actions-toggler {
	display: none;
	opacity: 0.5;
}

tr:hover .device-actions-toggler {
	opacity: 1;
}

.device-actions-list {
	text-align: left;
	background: #F2EDEA;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1);
	border: 1px solid #D0CAC6;
	padding: 10px;
	z-index: 999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin-right: 28px;
	width: 100px;
}

.device-actions-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.device-actions-list li a {
    text-decoration: none;
    color: #333333;
    font-size: 11px;
    font-weight: normal;
}

.device-actions-list li a:hover {
    text-decoration: underline;
    color: #3669AB;
}
/* end hover menu for gridview */

/* used on image rollover preview */
#imgPreviewWithStyles {
    z-index: 99999;
    border: none;
}