﻿@charset "UTF-8";
/* ie 6 correction styles */

#wrapper { height: 100%; }

#footer { width: 100%; margin: 0 -20px; }

#edit_header { width: 100%; }

#content { width: 800px; }

#content.homeContent { width: 930px; }

.advisory   { width: 50px; }