﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ModalBlanket.ascx.cs" Inherits="ModalBlanket" %>
<asp:Panel ID="ModalBlanketPanel" runat="server" CssClass="modal-backdrop fade in">
</asp:Panel>